<head>
  <link rel="stylesheet" href="css/styles.css">
</head>

<% if (transactions.length > 0) { %>
  <div>
      <% for (let transaction of transactions) { %>
          <article>
                  <p>
                      <%= transaction.comments %>
                  </p>
                  <p><%= transaction.amount %></p>
                  <p><%= transaction.type %></p>
                  <p><%= transaction.category %></p>
          </article>
          <% } %>
  </div>
  <% } else { %>
      <h1>No Transactions Found!</h1>
      <% } %>